.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 12px 64px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 64px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__fPPca {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__fPPca > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fPPca > :global(.__wab_flex-container) > *,
.freeBox__fPPca > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fPPca > :global(.__wab_flex-container) > picture > img,
.freeBox__fPPca
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fPPca {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fPPca > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fPPca > :global(.__wab_flex-container) > *,
  .freeBox__fPPca > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fPPca > :global(.__wab_flex-container) > picture > img,
  .freeBox__fPPca
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__w6CY {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__w6CY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__w6CY > :global(.__wab_flex-container) > *,
.freeBox__w6CY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w6CY > :global(.__wab_flex-container) > picture > img,
.freeBox__w6CY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w6CY > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w6CY > :global(.__wab_flex-container) > *,
  .freeBox__w6CY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__w6CY > :global(.__wab_flex-container) > picture > img,
  .freeBox__w6CY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__yG6Kw {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: var(--token-FC-eCcS5kWsT);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__yG6Kw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yG6Kw > :global(.__wab_flex-container) > *,
.link__yG6Kw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yG6Kw > :global(.__wab_flex-container) > picture > img,
.link__yG6Kw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yG6Kw {
    display: none;
  }
}
.svg__rU1V1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__op5LL {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-g9-eJHMLXkud);
  line-height: 26px;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  font-family: "Kanit", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__op5LL {
    display: none;
  }
}
.root .text__op5LL:hover {
  color: #05367e;
}
.svg__wA9WU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__u4KuG {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__u4KuG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__u4KuG > :global(.__wab_flex-container) > *,
.link__u4KuG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__u4KuG > :global(.__wab_flex-container) > picture > img,
.link__u4KuG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__u4KuG {
    display: none;
  }
}
.svg__xDnP8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lu3N0 {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-g9-eJHMLXkud);
  line-height: 26px;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  font-family: var(--token-oEsMEmaQGbmT);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lu3N0 {
    display: none;
  }
}
.root .text__lu3N0:hover {
  color: #05367e;
}
.svg___3X0O6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__gMwMo {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__gMwMo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gMwMo > :global(.__wab_flex-container) > *,
.link__gMwMo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gMwMo > :global(.__wab_flex-container) > picture > img,
.link__gMwMo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gMwMo {
    display: none;
  }
}
.svg__wOGb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___51Ey {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-g9-eJHMLXkud);
  line-height: 26px;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  font-family: var(--token-oEsMEmaQGbmT);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___51Ey {
    display: none;
  }
}
.root .text___51Ey:hover {
  color: #05367e;
}
.svg__nqsut {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___1WcY {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___1WcY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___1WcY > :global(.__wab_flex-container) > *,
.link___1WcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___1WcY > :global(.__wab_flex-container) > picture > img,
.link___1WcY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___1WcY {
    display: none;
  }
}
.svg___4Ed9N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__m9R5A {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-g9-eJHMLXkud);
  line-height: 26px;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  font-family: var(--token-oEsMEmaQGbmT);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__m9R5A {
    display: none;
  }
}
.root .text__m9R5A:hover {
  color: #05367e;
}
.svg__wSlPu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ciDz {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__ciDz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ciDz > :global(.__wab_flex-container) > *,
.link__ciDz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ciDz > :global(.__wab_flex-container) > picture > img,
.link__ciDz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ciDz {
    display: none;
  }
}
.svg__xaNMo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__atqBn {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-g9-eJHMLXkud);
  line-height: 26px;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  font-family: var(--token-oEsMEmaQGbmT);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__atqBn {
    display: none;
  }
}
.root .text__atqBn:hover {
  color: #05367e;
}
.svg__j98EM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ynUby {
  background: var(--token-FC-eCcS5kWsT);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: var(--token-FC-eCcS5kWsT);
  font-family: var(--token-oEsMEmaQGbmT);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 300px;
  padding: 0px;
  border: 1px solid #05367e;
}
.link__ynUby > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ynUby > :global(.__wab_flex-container) > *,
.link__ynUby > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ynUby > :global(.__wab_flex-container) > picture > img,
.link__ynUby
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.root .link__ynUby:hover {
  background: none;
}
.svg__mCiRk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.text__f5Re6 {
  color: var(--token-LePsFgXAH3gN);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--token-oEsMEmaQGbmT);
  padding: 10px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__f5Re6 {
    display: none;
  }
}
.root .text__f5Re6:hover {
  color: #05367e;
}
.svg__r5IOr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__mlhOh {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--token-JXv-__GiSiFF);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: var(--token-3PzoFD_Hw_m3) var(--token-3HtP_C1rvXsb);
}
.freeBox__mlhOh > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-3PzoFD_Hw_m3));
  width: calc(100% + var(--token-3PzoFD_Hw_m3));
}
.freeBox__mlhOh > :global(.__wab_flex-container) > *,
.freeBox__mlhOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mlhOh > :global(.__wab_flex-container) > picture > img,
.freeBox__mlhOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3PzoFD_Hw_m3);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mlhOh {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
  }
}
.freeBox__o4DP {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.svg__gWjWu {
  position: relative;
  color: var(--token-jfAILCKhiqT6);
  height: 1em;
  flex-shrink: 0;
}
.text__ayXwb {
  white-space: pre;
  color: var(--token-RycAIhxpHyD8);
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ayXwb {
    display: none;
  }
}
.freeBox__xmheL {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.svg__rj32N {
  position: relative;
  color: var(--token-jfAILCKhiqT6);
  height: 1em;
  flex-shrink: 0;
}
.svg__qbqmi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LePsFgXAH3gN);
  height: 1em;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__qbqmi {
    display: block;
  }
}
