.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__vtsm7 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
  padding: 48px 64px 34px;
}
.freeBox__vtsm7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vtsm7 > :global(.__wab_flex-container) > *,
.freeBox__vtsm7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vtsm7 > :global(.__wab_flex-container) > picture > img,
.freeBox__vtsm7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtsm7 {
    width: 100%;
    min-width: 0;
    padding: 51px 32px 59px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtsm7 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__frhWb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  max-width: 1380px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 7px 8px 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 20px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    max-width: 1380px;
    min-width: 0;
    padding: 55px 8px 57px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 30px);
    width: calc(100% + 30px);
    --plsmc-rc-col-gap: 30px;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 30px;
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jOjPd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
  object-position: left center;
}
.column___6AJul {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__jaez3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jaez3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jaez3 > :global(.__wab_flex-container) > *,
.freeBox__jaez3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jaez3 > :global(.__wab_flex-container) > picture > img,
.freeBox__jaez3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2 {
  width: 100%;
  min-width: 0;
}
.text__pt7MG {
  position: relative;
  padding-top: 0px;
  max-width: 502px;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__cj9X0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__nzxlp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__nzxlp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__nzxlp > :global(.__wab_flex-container) > *,
.freeBox__nzxlp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nzxlp > :global(.__wab_flex-container) > picture > img,
.freeBox__nzxlp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.textInput__oj5Jd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  background: #ffffff;
  margin-bottom: 16px;
  align-self: flex-end;
  min-width: 0;
  padding: 12px 15px;
}
.textInput__x5GHp {
  width: 100%;
  height: 50px;
  max-width: none;
  background: #ffffff;
  min-width: 0;
  padding: 12px 15px;
}
.textInput__jbGYc {
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 16px;
  min-width: 0;
  flex-shrink: 0;
  padding: 12px 15px;
}
.textInput__zj3L {
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 100%;
  background: #ffffff;
  margin-bottom: 16px;
  min-width: 0;
  flex-shrink: 0;
  padding: 12px 15px;
}
.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 100%;
  margin-bottom: 16px;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  padding: 12px 15px;
}
.link {
  background: #05367e;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px #00000033;
  align-self: flex-start;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid transparent;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__rlGQl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__eXvU {
  color: #ffffffd9;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  letter-spacing: 1px;
}
.svg__lUYlS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.footer2:global(.__wab_instance) {
  max-width: 100%;
  height: 542px;
  flex-shrink: 0;
}
