.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05367e;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__tIOmw {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 49px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tIOmw {
    padding: 30px;
  }
}
.freeBox___6TCx {
  display: flex;
  position: relative;
  max-width: 1380px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___6TCx > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___6TCx > :global(.__wab_flex-container) > *,
.freeBox___6TCx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6TCx > :global(.__wab_flex-container) > picture > img,
.freeBox___6TCx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6TCx {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6TCx > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6TCx > :global(.__wab_flex-container) > *,
  .freeBox___6TCx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6TCx > :global(.__wab_flex-container) > picture > img,
  .freeBox___6TCx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__mxt8Q {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__mxt8Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mxt8Q > :global(.__wab_flex-container) > *,
.freeBox__mxt8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mxt8Q > :global(.__wab_flex-container) > picture > img,
.freeBox__mxt8Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__f9An {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__f9An > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__f9An > :global(.__wab_flex-container) > *,
.freeBox__f9An > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f9An > :global(.__wab_flex-container) > picture > img,
.freeBox__f9An
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__rDbCc {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: #ffffff;
}
.freeBox__bewBb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-left: -9px;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__bewBb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox__bewBb > :global(.__wab_flex-container) > *,
.freeBox__bewBb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bewBb > :global(.__wab_flex-container) > picture > img,
.freeBox__bewBb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.freeBox__xBpCw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 0px;
  padding: 0px;
}
.svg__efZt4 {
  object-fit: cover;
  width: 25px;
  height: 28px;
  color: #ffffff;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox___7BdbI {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__yWnDq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cUitr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cUitr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__cUitr > :global(.__wab_flex-container) > *,
.freeBox__cUitr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cUitr > :global(.__wab_flex-container) > picture > img,
.freeBox__cUitr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__kcHeM {
  height: auto;
  align-self: center;
  color: #ffffff;
  max-width: 257px;
  width: 100%;
  min-width: 0;
}
.freeBox__h3Ss8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-left: -9px;
  margin-top: calc(3px + 16px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__h3Ss8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox__h3Ss8 > :global(.__wab_flex-container) > *,
.freeBox__h3Ss8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h3Ss8 > :global(.__wab_flex-container) > picture > img,
.freeBox__h3Ss8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.freeBox__uReDg {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 0px;
  padding: 0px;
}
.svg___6P2Ve {
  object-fit: cover;
  width: 24px;
  height: 20px;
  color: #ffffff;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__l5Nh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__wpHcN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__xjfJ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xjfJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__xjfJ > :global(.__wab_flex-container) > *,
.freeBox__xjfJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xjfJ > :global(.__wab_flex-container) > picture > img,
.freeBox__xjfJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__y6Nte {
  height: auto;
  align-self: center;
  color: #ffffff;
}
.freeBox__hXlx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin-left: -9px;
  margin-top: calc(3px + 16px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__hXlx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.freeBox__hXlx > :global(.__wab_flex-container) > *,
.freeBox__hXlx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hXlx > :global(.__wab_flex-container) > picture > img,
.freeBox__hXlx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.freeBox__uuYuF {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  border-radius: 0px;
  padding: 0px;
}
.svg___9CfXn {
  object-fit: cover;
  width: 24px;
  height: 20px;
  color: #ffffff;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__hqO36 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__oj8Rq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__fMww {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fMww > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fMww > :global(.__wab_flex-container) > *,
.freeBox__fMww > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fMww > :global(.__wab_flex-container) > picture > img,
.freeBox__fMww
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___8TMz {
  height: auto;
  align-self: center;
  color: #ffffff;
}
.freeBox__iXcQp {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(9px + 16px) !important;
}
.freeBox__iXcQp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__iXcQp > :global(.__wab_flex-container) > *,
.freeBox__iXcQp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iXcQp > :global(.__wab_flex-container) > picture > img,
.freeBox__iXcQp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__iiIxc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.svg__w3M03 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.svg__cwIkx {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__cjBnG {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__cjBnG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cjBnG > :global(.__wab_flex-container) > *,
.freeBox__cjBnG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cjBnG > :global(.__wab_flex-container) > picture > img,
.freeBox__cjBnG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__llQwK {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: #ffffff;
}
.link___14HU {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___14HU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___14HU > :global(.__wab_flex-container) > *,
.link___14HU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___14HU > :global(.__wab_flex-container) > picture > img,
.link___14HU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__amimO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__l0Kaa {
  height: auto;
  color: #ffffff;
}
.svg__nDXgY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ydC7 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__ydC7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ydC7 > :global(.__wab_flex-container) > *,
.link__ydC7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ydC7 > :global(.__wab_flex-container) > picture > img,
.link__ydC7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___4AiVo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___9Vf2B {
  height: auto;
  color: #ffffff;
}
.svg__jtia9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__vUvN0 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__vUvN0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__vUvN0 > :global(.__wab_flex-container) > *,
.link__vUvN0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__vUvN0 > :global(.__wab_flex-container) > picture > img,
.link__vUvN0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__cYyd7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__yBwH4 {
  height: auto;
  color: #ffffff;
}
.svg__jFHsa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__qsndf {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__qsndf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__qsndf > :global(.__wab_flex-container) > *,
.link__qsndf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__qsndf > :global(.__wab_flex-container) > picture > img,
.link__qsndf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__lOsH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hhHjq {
  height: auto;
  color: #ffffff;
}
.svg__xytAw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__wkd5B {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__wkd5B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wkd5B > :global(.__wab_flex-container) > *,
.freeBox__wkd5B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wkd5B > :global(.__wab_flex-container) > picture > img,
.freeBox__wkd5B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__gkOu6 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: #ffffff;
}
.link__guKnE {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__guKnE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__guKnE > :global(.__wab_flex-container) > *,
.link__guKnE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__guKnE > :global(.__wab_flex-container) > picture > img,
.link__guKnE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ye5Uf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__y5PeX {
  color: #ffffff;
}
.svg__s3Pe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__rfHp4 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__rfHp4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__rfHp4 > :global(.__wab_flex-container) > *,
.link__rfHp4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rfHp4 > :global(.__wab_flex-container) > picture > img,
.link__rfHp4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__me9Nu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__l8D1 {
  color: #ffffff;
}
.svg__efhjo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___14HOn {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___14HOn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___14HOn > :global(.__wab_flex-container) > *,
.link___14HOn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___14HOn > :global(.__wab_flex-container) > picture > img,
.link___14HOn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wRee9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__wAuJr {
  color: #ffffff;
}
.svg__tjgQb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___2Rfpv {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___2Rfpv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___2Rfpv > :global(.__wab_flex-container) > *,
.link___2Rfpv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___2Rfpv > :global(.__wab_flex-container) > picture > img,
.link___2Rfpv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__hzCfd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__vq21X {
  color: #ffffff;
}
.svg__zsYU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__eOnmS {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__eOnmS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eOnmS > :global(.__wab_flex-container) > *,
.freeBox__eOnmS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eOnmS > :global(.__wab_flex-container) > picture > img,
.freeBox__eOnmS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h4__zDkMl {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  margin-bottom: 10px;
  color: #ffffff;
}
.link__p1Ea {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__p1Ea > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__p1Ea > :global(.__wab_flex-container) > *,
.link__p1Ea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__p1Ea > :global(.__wab_flex-container) > picture > img,
.link__p1Ea
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__foZOi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__e6AuG {
  color: #ffffff;
}
.svg___5NIe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___7L64 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___7L64 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___7L64 > :global(.__wab_flex-container) > *,
.link___7L64 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___7L64 > :global(.__wab_flex-container) > picture > img,
.link___7L64
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__nXhEh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__mdWZ {
  color: #ffffff;
}
.svg__qwArJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__keMv3 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__keMv3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__keMv3 > :global(.__wab_flex-container) > *,
.link__keMv3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__keMv3 > :global(.__wab_flex-container) > picture > img,
.link__keMv3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__awYh5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hDxfj {
  padding-right: 0px;
  color: #ffffff;
}
.svg__itylw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__c1IcN {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__c1IcN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__c1IcN > :global(.__wab_flex-container) > *,
.link__c1IcN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__c1IcN > :global(.__wab_flex-container) > picture > img,
.link__c1IcN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uStiW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__xdFd2 {
  color: #ffffff;
}
.svg__d7LQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__hCcNx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 28px 8px;
  border-top: 1px solid #afafaf73;
}
.text__xcUxf {
  height: auto;
  align-self: center;
  text-align: center;
  color: #ffffff;
}
.link__aJb5 {
  color: #ffcf0a;
}
