.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
  background: none;
  border-radius: var(--token-r59v0ehHHq2n);
  padding: var(--token-r59v0ehHHq2n) var(--token-OlyHeGCB_p87);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - var(--token-LeEnSI-zT-6q));
  width: calc(100% + var(--token-LeEnSI-zT-6q));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-LeEnSI-zT-6q);
}
.rootprimary_solid {
  background: var(--token-LR5xZMuBiaUA);
  box-shadow: none;
}
.rootprimary_outline {
  background: none;
  outline-style: solid;
  outline-color: var(--token-LR5xZMuBiaUA);
}
.rootprimary_ghost {
  background: none;
  padding: var(--token-ccqlOYbWaT_K);
}
.rootsecondary_solid {
  background: var(--token-e1A2Wod2fOa-);
}
.rootsecondary_outline {
  background: none;
  height: 56px;
  border: 1px solid var(--token-0oPBYNDYkDVV);
}
.rootsecondary_outline_primary_solid {
  padding: var(--token-r59v0ehHHq2n) var(--token-OlyHeGCB_p87);
}
.rootprimary_solid:hover {
  background: linear-gradient(#0000001a, #0000001a), var(--token-LR5xZMuBiaUA);
}
.rootprimary_outline:hover {
  background: var(--token-LR5xZMuBiaUA);
}
.rootsecondary_solid:hover {
  background: linear-gradient(#0000001a, #0000001a), var(--token-e1A2Wod2fOa-);
}
.rootsecondary_outline:hover {
  background: var(--token-0oPBYNDYkDVV);
}
.rootleftIcon_secondary_outline:hover {
  background: var(--token-0oPBYNDYkDVV);
}
.svg__kBiAs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-6YfpgWySKXtG);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.svgleftIcon__kBiAs4YbTk {
  color: var(--token-p7m1hb1fYjyr);
  display: block;
}
.rootleftIcon_primary_solid:hover .svgleftIcon_primary_solid__kBiAs4YbTkKguR2 {
  color: var(--token-0oPBYNDYkDVV);
}
.rootleftIcon_primary_outline:hover
  .svgleftIcon_primary_outline__kBiAs4YbTkZdiCe {
  color: var(--token-0oPBYNDYkDVV);
}
.rootleftIcon_secondary_solid:hover
  .svgleftIcon_secondary_solid__kBiAs4YbTkLSvVp {
  color: var(--token-0oPBYNDYkDVV);
}
.freeBox {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-size: var(--token-gHMf9SrvdNKx);
  color: var(--token-p7m1hb1fYjyr);
}
.slotTargetChildrenprimary_solid {
  color: var(--token-0oPBYNDYkDVV);
}
.slotTargetChildrenprimary_outline {
  color: var(--token-LR5xZMuBiaUA);
}
.slotTargetChildrensecondary_solid {
  color: var(--token-0oPBYNDYkDVV);
}
.slotTargetChildrensecondary_outline {
  color: var(--token-0oPBYNDYkDVV);
}
.root:hover .slotTargetChildren {
  color: var(--token-KUVx4th-AgVu);
}
.rootprimary_solid:hover .slotTargetChildrenprimary_solid {
  color: var(--token-0oPBYNDYkDVV);
}
.rootprimary_outline:hover .slotTargetChildrenprimary_outline {
  color: var(--token-0oPBYNDYkDVV);
}
.rootsecondary_solid:hover .slotTargetChildrensecondary_solid {
  color: var(--token-0oPBYNDYkDVV);
}
.rootsecondary_outline:hover .slotTargetChildrensecondary_outline {
  color: var(--token-2DnbeFqB1d3j);
}
.rootleftIcon_secondary_outline:hover
  .slotTargetChildrenleftIcon_secondary_outline {
  color: var(--token-p7m1hb1fYjyr);
}
.rootrightIcon_secondary_outline:hover
  .slotTargetChildrenrightIcon_secondary_outline {
  color: var(--token-p7m1hb1fYjyr);
}
.svg___8HRvH {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p7m1hb1fYjyr);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.svgrightIcon___8HRvHh2Dyq {
  display: block;
}
.rootrightIcon_primary_solid:hover
  .svgrightIcon_primary_solid___8HRvHh2DyqKguR2 {
  color: var(--token-0oPBYNDYkDVV);
}
.rootrightIcon_primary_outline:hover
  .svgrightIcon_primary_outline___8HRvHh2DyqZdiCe {
  color: var(--token-0oPBYNDYkDVV);
}
.rootrightIcon_secondary_solid:hover
  .svgrightIcon_secondary_solid___8HRvHh2DyqLSvVp {
  color: var(--token-0oPBYNDYkDVV);
}
